{% extends 'base.html' %}

{% block content %}
    <br>
    <h1>Pacientes  </h1>
    
    <br>
    <div class="container-fluid"></div>
        
            
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                    
                </tr>
                </thead>
                <tbody>
                    {% for unPaciente in pacientes %}
                        <tr>
                            <th scope="row">{{unPaciente.id}}</th>
                            <td>{{unPaciente.nombre}}</td>
                            <td>{{unPaciente.apellido}}</td>
                            <td>{{unPaciente.direccion}}</td>
                            <td>{{unPaciente.telefono}}</td>
                            <td>{{unPaciente.email}}</td>
                            <td>
                                <button type="button" class="btn btn-info" onclick="location.href='{% url 'clinica:historial' unPaciente.id %}'">Ver Historial</button>
                                
                            </td>
                        </tr>
                    {% endfor %}    
                </tbody>
            </table>
            
          
        
    </div>
{% endblock content %}
