{% extends 'base.html' %}

{% block content %}
    <br>
    <!-- <h1>Código del Pedido: {{pedido.id}}</h1> -->
    
    <form  method = 'POST'>
        {% for field in form %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-xs">Guardar</button>
        <a href="{% url 'clinica:pedidos' %}" class="btn btn-primary btn-xs">Volver</a>
    </form>
    
    
{% endblock content %}