{% extends 'base.html' %}
{% load bootstrap3 %}

{% block extrahead %}

{{ form.media }}
{% endblock %}


{% block content %}
{% if user.es_medico %}

<br>
<h1>Archivo de Pacientes</h1>
<br>

<form method="get">
    {{  filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
  <ul>
    {% for turno in filter.qs %}
    <li>{{ turno.Paciente }} - {{ turno.FechaTurno }} - {{ turno.Asistencia }}</li>
    {% endfor %}
  </ul>
{% else %}
<div class="row d-flex justify-content-center">
    <div class="col-8">
        <h1 class="text-center my-5 lead">No tienes permisos. </h1>
    </div>
</div>
{% endif %}
{% endblock %}